body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin: 2rem;
}

header {
    background-color: #7c8991;
    font-size: large;
    text-align: center;
    font-weight: bold;
    height: 120px;
    padding-top: 2.5rem;
    color: white;
}

footer {
    padding: 2rem;
    background-color: #7c8991;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: #7c8991;
    font-weight: 500;
}

a:hover{
    color: #e3001b;
}

ul{
    list-style-type: none;
}

.navbar{
    background: #7c8991;
    padding: 0;
    height: 0rem;
    color: white;
    width: 100%;
}

.button{
    text-align: center;
    padding: 8px 20px;
    display: inline-block;
    font-size: 14px;
    background-color: lightgrey;
    color: black;
    border: 1px black;
    border-radius: 25px;
}

button:hover{
    color: #e3001b;
}

td{
    padding: 1rem;
}

.container-fluid{
    padding: 1rem;
}

/*index-Seite - Styling*/
#first__section{
    padding: 2rem;
}

#side__bar{
    background-color: #c9bbbb;
    padding: 1rem;
    border-radius: 5px;
    border-width: 5px;
}

.container-fluid, img-fluid{
    background-color: #7c8991;
    color: white;
    padding: 0rem;
    margin: 0;
}

.nav-item active{
    color: white;
}

.modal-body2{
    margin-top: 50px;
    margin-bottom 50px;
    margin-right: 35%;
    margin-left: 35%;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: black;
}
.warning{
    color: red;
    position: center;
}
.logoutmsg{
    color: orange;
    position: center;
}

.label{
    text-align: left;
    font-weight: bold;
}

.form-group row{
    text-align: left;
    align-content: flex-start;
}

.loginformular{
    padding: 1rem;
}

.d-flex flex-column text-center{
    margin-top: 2rem;
}

h4{
    padding-top: 1rem;
}