body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 3em;
}

main {
    margin: 2rem;
}

header {
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: #7c8991;
    top:0;
    position: fixed;
    width: 100%;
    z-index: 999;
}

footer {
    padding: 1rem;
    background-color: #343a40;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}

.form-title{
    margin-top: 5em;
}

#first__section{
    margin-top: 4em;
}

a{
    text-decoration: none;
    color: #7c8991;
    font-weight: 500;
}

a:hover{
    color: #e3001b;
}

ul{
    list-style-type: none;
}
.sr-only{
    color: #e3001b;
}


.button{
    padding: 8px 20px;
    display: inline-block;
    font-size: 14px;
    background-color: lightgrey;
    color: black;
    border: 1px black;
    border-radius: 25px;
    margin-right: 1rem;
    margin-top: 0.5rem;
    text-align: right;
}

button:hover{
    color: #e3001b;
}

td{
    padding: 1rem;
}

/*index-Seite - Styling*/
#first__section {
    padding: 2rem;
}

.homeImage{
    margin-left: calc((100% / 2) - 120px);
}

#homeText{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

@media (max-width: 1000px) {
    #homeText{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .homeImage{
        margin-left: calc((100% / 2) - 90px);
    }
}

@media (max-width: 320px) {
    #homeText{
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .homeImage{
        margin-left: calc((100% / 2) - 90px);
    }
}

/*Homepage-Styling*/

@media (min-width: 769px) and (max-width: 992px) {
    .btn-responsive {
        padding: 4px 9px;
        font-size: 90%;
        line-height: 1.2;
    }

    .aboveCalendar{
        font-size: 90%;
        width: 90%;
    }
}

@media (max-width: 1000px) {
    a {
        text-decoration: none;
    }

    #main__home {
        display: grid;
    }

    #calendar {
        height: 800px;
        width: 800px;
    }
}

#current{
    color: #e3001b;
}

.aboveCalendar {
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    #main__home {
        display: grid;
    }

    .aboveCalendar, .fc-header-toolbar, .fc-toolbar-chunk, .fc-button-group, .fc-icon, .fc-toolbar-title{
        font-size: 14px;
    }

    #calendar {
        height: 700px;
        width: 700px;
        font-size: 14px;
    }

    .btn-responsive {
        padding: 2px 4px;
        font-size: 80%;
        line-height: 1;
    }
}

@media (max-width: 500px) {
    #main__home {
        display: grid;
    }

    .aboveCalendar, .fc-header-toolbar, .fc-toolbar-chunk, .fc-button-group, .fc-icon, .fc-toolbar-title{
        font-size: 13px;
    }

    #calendar{
        height: 550px;
        width: 90%;
        font-size: 13px;
    }
}

@media (max-width: 320px) {
    #main__home {
        display: grid;
    }

    .aboveCalendar, .fc-header-toolbar, .fc-toolbar-chunk, .fc-button-group, .fc-next-button, .fc-prev-button, .fc-icon, .fc-toolbar-title{
        font-size: 12px;
    }

    #calendar{
        height: 300px;
        width: 300px;
        font-size: 12px;
    }
}

@media (max-width: 150px) {
    #main__home {
        display: grid;
    }

    .aboveCalendar, .fc-header-toolbar, .fc-toolbar-chunk, .fc-button-group, .fc-icon, .fc-toolbar-title{
        font-size: 10px;
    }

    #calendar{
        height: 100px;
        width: 100px;
        font-size: 10px;
    }
}

/*F端r den Kalender*/

#calendar{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 100%;
    width: 100%;
}

th{
    padding: 1.5rem;
}

.heading-sec{
    background-color: lightgrey;
}

.modal-body2 {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 35%;
    margin-left: 35%;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: black;
    padding: 1rem;
}

.warning {
    color: red;
    position: center;
}


.label {
    text-align: left;
    font-weight: bold;
}

#labelDesign{
    text-align: left;
}

.form-group row {
    text-align: left;
    align-content: flex-start;
}

/*Login-Page*/

.loginformular {
    padding: 1rem;
    width: 40%;
    margin-left: calc(100% / 3);
}

@media (max-width: 1000px) {
    .loginformular {
        padding: 1rem;
        width: 60%;
        margin-left: calc(100% / 3.33);
    }
}

@media (max-width: 320px) {
    .loginformular {
        padding: 1rem;
        width: 80%;
        height: 90%;
        margin-left: calc(100% / 3.33);
    }
}

.logoutmsg {
    color: #e3001b;
    font-weight: bold;
    text-align: center;
}

.d-flex flex-column text-center {
    margin-top: 2rem;
}

h4 {
    padding-top: 1rem;
}

/*Admin-Page*/
.adminstyling {
    padding-top: 0.5rem;
    padding-left: 1rem;
    font-weight: bold;
}

.choose_course {
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#kurs1 {
    margin-right: 1rem;
    margin-left: 1.25rem;
}

.adminDesign {
    width: 800px;
}

.admin__table {
    margin-top: 20px;
    border: solid grey 1px;
    border-radius: 5px;
    border-spacing: 20px;
}
#startPlanning{
    color: white;
}
#startPlanning:hover{
    color: #515151;
}
.btn-group{
    color: #e3001b;
    border-color: #e3001b;
    background-color: white;
}

.btn-group:hover{
    color: white;
    background-color: #e3001b;

}

#saveSelection{
    color: white;
}
#saveSelection:hover{
    color: #515151;
}

/*f端r die Aktionskacheln*/
@charset "UTF-8";
/* #006A9C: 3.1:1 -> #161616 | 5.4:1 -> #f5f5f5 | 5.9:1 -> #ffffff */
/* z. B. Hintergrundbild body, Formulare */
/* = .one.column; */
/**
Helferlein f端r den Umstieg von bottom- auf top-margins
 */
* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", "HelveticaNeue", Arial, Helvetica, Geneva, sans-serif;
    font-size: 81.25%;
    /* 13px / 16px */
    line-height: 1.538461538;
    /* 20px / 13px */
    color: #161616;
}

.page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 12px;
    display: flex;
    flex-wrap: wrap;
}

@supports (display: grid) {
    .page {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: repeat(6, 1fr);
    }
}

.gba-kachel {
    background-color: #fff;
    display: flex;
    margin-top: 24px;
    margin-right: 12px;
    margin-left: 12px;
}

.gba-kachel .padding-all-unit {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    max-width: 100%;
    width: 100%;
}

@supports (display: grid) {
    .gba-kachel {
        grid-column: auto/span 6;
        margin: 0 !important;
    }
}

.gba-kachel--xs {
    flex: 1 0 auto;
    text-align: left;
}

@media (min-width: 480px) {
    .gba-kachel--xs {
        flex: 1 0 auto;
        width: calc((100% / 2) - 48px);
    }
}

@media (min-width: 768px) {
    .gba-kachel--xs {
        flex: 1 0 auto;
        width: calc((100% / 3) - 72px);
    }
}

@supports (display: grid) {
    .gba-kachel--xs {
        grid-column: auto/span 6;
        width: auto;
    }

    @media (min-width: 480px) {
        .gba-kachel--xs {
            grid-column: auto/span 3;
        }
    }
    @media (min-width: 768px) {
        .gba-kachel--xs {
            grid-column: auto/span 2;
        }
    }
}

.gba-kachel--m {
    flex: 1 0 auto;
    width: calc(100% - 24px);
}

@media (min-width: 480px) {
    .gba-kachel--m {
        flex: 1 0 auto;
        width: calc((100% - 48px) / 2);
    }
}

@media (min-width: 768px) {
    .gba-kachel--m {
        flex: 1 0 auto;
        width: calc(((100% - 48px) / 3) * 2);
    }
}

@supports (display: grid) {
    .gba-kachel--m {
        grid-column: auto/span 6;
        width: auto;
    }

    @media (min-width: 480px) {
        .gba-kachel--m {
            grid-column: auto/span 3;
        }
    }
    @media (min-width: 768px) {
        .gba-kachel--m {
            grid-column: auto/span 4;
        }
    }
}

.gba-kachel--l {
    flex: 1 0 auto;
    width: calc(100% - 24px);
}

@supports (display: grid) {
    .gba-kachel--l {
        grid-column: auto/span 6;
        width: auto;
    }
}

.gba-kachel__titel {
    font-size: 1.3076923077em;
    /* 17px / 13px */
    line-height: 1.235294118;
    /* 21px / 17px */
    border-top: 3px solid #e3001b;
    color: #616161;
    padding-top: 12px;
}

.gba-kachel__body {
    margin-top: 12px;
    flex: 1 0 auto;
    width: 100%;
}

.gba-kachel__body > * {
    margin-bottom: 0 !important;
}

.gba-kachel__body > * + * {
    margin-top: 8px;
}

.gba-kachel__body > * {
    flex-basis: 100%;
    max-width: 100%;
    width: 100%;
}

.gba-kachel__footer {
    margin-top: 24px;
}

.gba-button {
    background: transparent;
    border: 1px solid;
    border-bottom-right-radius: 9999em;
    border-top-right-radius: 9999em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    letter-spacing: 0.025em;
    line-height: 1;
    padding: 9px 15px 9px;
    text-decoration: none;
    transition: all 0.1s ease-in;
}

.gba-button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.gba-button--standard,
a.gba-button--standard {
    background-color: #515151;
    border-color: #515151;
    color: white;
    font-weight: 700;
}

.gba-button--standard:focus, .gba-button--standard:hover,
a.gba-button--standard:focus,
a.gba-button--standard:hover {
    background-color: #e3001b;
    border-color: #e3001b;
    color: #161616;
    text-decoration: none;

}

ff8c00
ul {
    padding: 0;
    list-style: none;
}

ul li {
    font-weight: bold;
    padding-left: 28px;
    background: url(https://dhabxh0mfl5ru.cloudfront.net/assets-version-1502787865/bundles/gbawebsite/img/bullet.png) no-repeat left 0.35em;
}

.padding-all-unit {
    padding: 24px;
}


/*Registration*/
#moreFields {
    width: 80px;
    border-radius: 5px;
}

.smallHeaders {
    font-size: 16px;
    margin-top: 0.5rem;
    font-weight: bold;
    color: #7c8991;
}

.container, d-flex, form-title{
    width: 500px;
}

#registerForm{
    max-width: 500px;
}

#calendar__newDate__modifyDate {
    margin-left: 2rem;
}

.terminModify{
    width: 60%;
    margin-left: calc((100% / 3) - 60px);
}

@media (max-width: 1000px) {
    .terminModify{
        width: 40%;
        margin-left: calc(100% / 3) ;
    }
}

@media (max-width: 320px) {
    .terminModify{
        width: 70%;
        margin-left: calc(100% / 3);
    }
}

.item-list,list-container, items, item{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    border-radius: 2px;
    border-color: #7c8991;
}

/*Liste hinzugef端gter Vorlesungen - Formatierung*/

#existingLectures{
    text-align: left;

}

#courseId{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#lectureId{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

#lectureHours{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.list-input {
    font-family: 'B612';
}

.addedCoursesList {
    min-width: 30%;
    list-style: none;
}


.items {
    margin: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.items li {
    flex: 1;
}

.trash-btn, .erledigt-btn {
    color: #7c8991;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.erledigt-btn {
    background: #ff003b;
    color: white;
}

.trash-btn:hover {
    color: #6c7b7f;
    background: white;
}

.erledigt-btn:hover {
    color: #ff003b;
    background: white;
}

.item {
    padding: 0rem 0.5rem;
}

.fa trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}


#backBtn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    margin: 0.5rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The search field */
#myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
    outline: 3px solid #ddd;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}

#endPlanningtime {
    display: none;
}

#add {
    display: none;
}

#tabelle {
    visibility: hidden;
}



