body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    margin: 2rem;
}

header {
    background-color: #131921;
    padding: 0.5rem;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: white;
    text-align: center;
}

footer {
    padding: 2rem;
    background-color: #131921;
    color: white;
    text-align: center;
}

a{
    text-decoration: none;
    color: #7c8991;
    font-weight: 500;
}

a:hover{
    color: #e3001b;
}

ul{
    list-style-type: none;
}

.navbar{
    background: lightgrey;
    padding: 3rem 2rem;
    height: 0rem;
    min-height: 12vh;
}

.button{
    text-align: center;
    padding: 8px 20px;
    display: inline-block;
    font-size: 14px;
    background-color: #7c8991;
    color: white;
    border: 1px solid grey;
    border-radius: 25px;
}
/*index-Seite - Styling*/
.second__section{

}
.modal-body2{
    margin-top: 50px;
    margin-bottom 50px;
    margin-right: 35%;
    margin-left: 35%;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    border-radius: 5px;
    box-shadow: black;
}
.warning{
    color: red;
    position: center;
    margin-left: 40%;
}
.logoutmsg{
    color: orange;
    position: center;
}