<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Administrationsbereich</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/style.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <img th:src="@{/images/DHPlannerKlein.PNG}" alt="DHBW Planner" width="140" height="100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    Administrationsbereich
                </ul>
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/vorlesungsplaner">
                            Vorlesungsplaner
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/admin">
                            Administrationsbereich
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/profile">Mein Profil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <form th:action="@{/logout}" method="post">
                            <input class="button" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        </div>
    </nav>
</header>
<section id="first__section">
    <div class="modal-body2">
        <div class="form-title text-center">
            <h4>Administrationsmöglichkeiten</h4>
        </div>
        <table>
            <tbody>
            <tr><p class="adminstyling">Registrierung neuer DH-Planner-Nutzer</p></tr>
            <tr>
                <td>Hier können <a th:href="@{/vorlesungsplaner/admin/register}">Dozenten</a> und <a th:href="@{/register_student}">Studenten<a/> durch den Admin registriert
                    werden</td>
            </tr>
            <tr><p class="adminstyling">Anlegen von Kursen und deren aktuellen Semesterzeitraum</p></tr>
            <tr>
                <td>Kurs:
                    <select id="kurs1">
                        <option class="choose_course" value="0">Bitte Kurs für die Terminanzeige auswählen</option>
                        <option th:each="kurs: ${kurse}" th:value="${kurs.kurs_name}"
                                th:text="${kurs.kurs_name}"></option>
                    </select>
                </td>
            <tr>
                <td>Bevorstehender Semesterzeitraum</td>
            </tr>
            </tr>
            <tr>
                <td><label for="start">Startdatum:</label>
                    <input type="datetime-local" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2021-01-01" max="2018-12-31"></td>
            </tr>
            <tr>
                <td><label for="end">Enddatum:</label>
                    <input type="datetime-local" id="end" name="trip-end"
                           value="2018-07-22"
                           min="2021-01-01" max="2018-12-31"></td>
            </tr>
            <tr>
                <td>
                    <button class="button" type="submit">Auswahl speichern</button>
                </td>
            </tr>
            <tr><p class="adminstyling">Planungsreihenfolge definieren</p></tr>
            <tr>
                <td>Hier kann zu einem späteren Zeitpunkt ggf. eine Planungsreihenfolge festgelegt werden</td>
            </tr>
            <tr>
                <td>
                    <button class="button">Starte Planung</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>
</body>
</html>