<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>DH-Planner</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/kalender.css}">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script src="https://kit.fontawesome.com/10fd971787.js" crossorigin="anonymous"></script>
</head>

<body onload="onLoad()">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/vorlesungsplaner">
            <img th:src="@{/images/DHPlannerKlein.PNG}" width="100" height="70" class="d-inline-block align-top" alt="DH-Planner Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/vorlesungsplaner" id="current">
                        Vorlesungsplaner
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="vorlesungsplaner/admin">
                        Administrationsbereich
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/vorlesungsplaner/profile">Mein Profil</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <input class="button" type="submit" value="Sign Out"/>
            </form>
        </div>
    </nav>
</header>
<main id="main__home">
    <div class="form-title text-center" id="adminDesign">
        <h4>Vorlesungsplaner</h4>
    </div>
    <div class="page">
        <div class="gba-kachel gba-kachel--l">
            <div class="padding-all-unit">
                <div class="gba-kachel__titel"></div>
                <div class="gba-kachel__body">
                    <div class="ueberKalender">
                        <select id="kurs1" onchange="kursNeuladen()">
                            <option th:each="kvn_name: ${kvn_namen}" th:value="${kvn_name.kurs_name}"
                                    th:text="${kvn_name.kurs_name}"></option>
                        </select>
                        <button class="button btn-responsive" id="add">Termin
                            hinzufügen
                        </button>
                        <button class="button btn-responsive" id="endPlanningtime" onclick="endPlanning()">Planung
                            beenden
                        </button>
                        <button class="button btn-responsive" id="printCourseplan">Vorlesungsplan drucken</button>
                    </div>
                    <section id="calendar__section">
                        <div id='calendar'></div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</main>
<footer id="footer">
    © Vorlesungsplaner
</footer>
</body>
<script src="homeScript.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files
      as needed -->
<script src="js/bootstrap.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.js'></script>
</html>