<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>DH-Planner</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="kalender.css">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img th:src="@{/images/DHPlannerKlein.PNG}" alt="DHBW Planner" width="140" height="100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="homepage.html" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vorlesungsplaner
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#unterKalender">Neuen Vorlesungstermin planen</a>
                            <a class="dropdown-item" href="#unterKalender">Bestehende Vorlesungstermine
                                modifizieren</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/profile}">Mein Profil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <form th:action="@{/logout}" method="post">
                            <input class="button" type="submit" value="Sign Out"/>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <section id="calendar__section">
        <div id='calendar'></div>
    </section>
    <section id="calendar__newDate__modifyDate">
        <table>
            <tr>
                <th>
                    <p>Neuen Vorlesungstermin erstellen</p>
                    <div id="unterKalender">
                        <select id="kurs">
                            <option th:value="'0'" th:text="'Kurs auswählen'"></option>
                            <option th:value="'A'" th:text="'Kurs A'"></option>
                            <option th:value="'B'" th:text="'Kurs B'"></option>
                        </select>
                        <button class="button">
                            <i class="fas fa-plus-square">Termin hinzufügen</i>
                        </button>
                    </div>
                </th>
                <th>
                    <p>Bestehende Vorlesungstermine</p>
                    <div id="unterKalender">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">Vorlesungsfach</th>
                                <th scope="col">Datum</th>
                                <th scope="col">Startzeit</th>
                                <th scope="col">Endzeit</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">WI</th>
                                <td>07.05.2021</td>
                                <td>09:00</td>
                                <td>12:15</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </th>
            </tr>
        </table>
    </section>
</main>
<footer>
    © Vorlesungsplaner
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files
      as needed -->
<script src="js/bootstrap.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.js'></script>
<script>
    // function pruefeKurs() {
    document.addEventListener('DOMContentLoaded', async function () {
        var calendarEl = document.getElementById('calendar');

        const url = "http://localhost:8080/vorlesungsplaner/kalender/process_kalender";
        //   let kurs = document.getElementById(kurs)
        const res = await fetch(url);
        const json = await res.json();

        var calendar = new FullCalendar.Calendar(calendarEl, json);

        calendar.render();
    });
    // }
</script>
</body>
</html>