<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>DH-Planner</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="images/DHPlanner.PNG" alt="DHBW Planner"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Vorlesungsplaner
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="homepage.html">Neuen Vorlesungszeitraum definieren</a></li>
                            <li><a class="dropdown-item" href="homepage.html">Neuen Vorlesungstermin planen</a></li>
                            <li><a class="dropdown-item" href="homepage.html">Bestehende Vorlesungstermine modifizieren</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <button class="btn"><a th:href="@{/register}">Registrierung</a></button>
                </ul>
                <form class="d-flex">
                    <button class="btn"><a th:href="@{/login}">Login</a></button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main>
    <div class="container text-center">
        <h3><a th:href="@{/users}">List of all users</a></h3>
    </div>
    <section id="first__section">
        <div class="main__content">

        </div>

    </section>
    <aside id="side__bar">
        <p class="side__bar-text">

        </p>
    </aside>
</main>
<footer>
    © Vorlesungsplaner
</footer>
</body>
</html>