<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Einloggen</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <img th:src="@{/images/DHPlannerKlein.PNG}" alt="DHBW Planner" width="140" height="100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    Loginseite DH-Planner der DHBW Stuttgart
                </ul>
                <ul class="navbar-nav ml-auto">
                    <form th:action="@{/}" method="get">
                        <input class="button" type="submit" value="Zurück zur Startseite"/>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <div class="modal-body2">
        <div class="form-title text-center">
            <div>
                <div class="warning" th:if="${param.error}">Falsche E-Mail oder Passwort.</div>
                <div class="logoutmsg" th:if="${param.logout}">Auf Wiedersehen.</div>
            </div>
            <h4>Login</h4>
        </div>
        <div class="d-flex flex-column text-center">
            <form class="loginformular" name="f" th:action="@{/login}" method="post">
                <div class="form-group">
                    <label for="username">E-Mail</label>
                    <input type="text" class="form-control" id="username" name="username"
                           placeholder="E-Mail">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           placeholder="Password">
                </div>
                <div class="form-actions" style="margin-top: 12px;">
                    <button type="submit" class="button" onclick="validate()">Einloggen</button>
                </div>
            </form>
        </div>
    </div>
    </div>
</main>
<footer>
    © Vorlesungsplaner
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files
      as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
<script type="text/javascript">
    function validate() {
        if (document.f.username.value == "" && document.f.password.value == "") {
            alert("Username and password are required");
            document.f.username.focus();
            return false;
        }
        if (document.f.username.value == "") {
            alert("Username is required");
            document.f.username.focus();
            return false;
        }
        if (document.f.password.value == "") {
            alert("Password is required");
            document.f.password.focus();
            return false;
        }
    }
</script>
</html>