<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Erfolgreich registriert</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" th:href="@{/vorlesungsplaner}">
            <img th:src="@{/images/DHPlannerKlein.PNG}" width="100" height="70" class="d-inline-block align-top" alt="DH-Planner Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/vorlesungsplaner}">
                        Vorlesungsplaner
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/vorlesungsplaner/admin}">
                        Administrationsbereich
                    </a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <input class="button" type="submit" value="Sign Out"/>
            </form>
        </div>
    </nav>
</header>
<main>
    <div class="modal-body2">
        <div class="form-title text-center">
            <div class="container text-center">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    Der neue Nutzer wurde erfolgreich registriert!
                </ul>
                <form th:href="@{/vorlesungsplaner}" method="get">
                    <input class="button" type="submit" value="Zurück zur Homepage"/>
                </form>
            </div>
        </div>
    </div>
</main>


</body>
</html>