<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Registrieren</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img th:src="@{/images/DHPlannerKlein.PNG}" alt="DHBW Planner" width="140" height="100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    Registrierungsseite DH-Planner der DHBW Stuttgart
                </ul>
                <ul class="navbar-nav ml-auto">
                    <button class="button"><a th:href="@{/login}">Wechsel zum Login</a></button>
                    <button class="button"><a th:href="@{/}">Zurück zur Startseite</a></button>
                </ul>

            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container text-center">
        <div th:if="${errorMessage != null}"
             th:utext="${errorMessage}" class="error">
        </div>
        <form name="f" th:action="@{/process_register}" th:object="${user}"
              method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label">Anrede: </label>
                    <div class="col-8">
                        <select th:field="*{nut_anrede}">
                            <option th:value="'Herr'" th:text="Herr"></option>
                            <option th:value="'Frau'" th:text="Frau"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Titel: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{nut_titel}" class="form-control"
                               required minlength="2" maxlength="20"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">E-Mail: </label>
                    <div class="col-8">
                        <input type="email" th:field="*{nut_email}" class="form-control" required/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Passwort: </label>
                    <div class="col-8">
                        <input type="password" th:field="*{nut_passwort}" class="form-control"
                               required minlength="6" maxlength="10"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Vorname: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{nut_vorname}" class="form-control"
                               required minlength="2" maxlength="20"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Nachname: </label>
                    <div class="col-8">
                        <input type="text" th:field="*{nut_nachname}" class="form-control"
                               required minlength="2" maxlength="20"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Admin? </label>
                    <div class="col-8">
                        <input type="checkbox" th:name="admin" checked="checked" value="true"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Admin Passwort: </label>
                    <div class="col-8">
                        <input type="password" th:name="admin_pw">
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Jetzt registrieren</button>
                </div>
            </div>
        </form>
    </div>
</main>
<footer>
    © Vorlesungsplaner
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files
      as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>