<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Registrieren</title>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}"/>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/vorlesungsplaner">
            <img th:src="@{/images/DHPlannerKlein.PNG}" width="100" height="70" class="d-inline-block align-top"
                 alt="DH-Planner Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/vorlesungsplaner">
                        Vorlesungsplaner
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="vorlesungsplaner/admin" id="current">
                        Administrationsbereich
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/vorlesungsplaner/profile}">Mein Profil</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <input class="button" type="submit" value="Sign Out"/>
            </form>
        </div>
    </nav>
</header>
<main id="main__home">
    <form onsubmit="event.preventDefault();">
        <div class="form-title text-center" id="adminDesign">
            <h4>Registrierung neuer Studenten</h4>
        </div>
        <div class="page">
            <div class="gba-kachel gba-kachel--l">
                <div class="padding-all-unit">
                    <div class="gba-kachel__titel"></div>
                    <form name="registerForm" th:object="${user}">
                        <div class="form-group row">
                            <label for="anrede" class="col-sm-2 col-form-label">Anrede</label>
                            <div class="col-sm-10">
                                <select id="anrede" th:field="*{nut_anrede}" required>
                                    <option value="0"> Bitte wählen</option>
                                    <option th:value="'Herr'" th:text="Herr"></option>
                                    <option th:value="'Frau'" th:text="Frau"></option>
                                    <option th:value="'Divers'" th:text="Divers"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="vorname" class="col-sm-2 col-form-label">Vorname</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{nut_vorname}" class="form-control"
                                       required minlength="2" maxlength="20" id="vorname" th:placeholder="Vorname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="nachname" class="col-sm-2 col-form-label">Nachname</label>
                            <div class="col-sm-10">
                                <input type="text" th:field="*{nut_nachname}" class="form-control"
                                       required minlength="2" maxlength="20" id="nachname" placeholder="Nachname">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-sm-2 col-form-label">Email</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" th:field="*{nut_email}"
                                       placeholder="Email"
                                       required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="passwort" class="col-sm-2 col-form-label">Passwort</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="passwort" th:placeholder="Password"
                                       th:field="*{nut_passwort}" required minlength="6" maxlength="10">
                            </div>
                        </div>
                        <p id="registrationFormularHeaders">Kurs definieren:</p>
                        <div class="form-group row">
                            <label for="kurs" class="col-sm-2 col-form-label">Kurs</label>
                            <div class="col-sm-10">
                                <input list="kurs" id="kursListe">
                                <datalist id="kurs">
                                    <option th:each="kurs: ${kurse}" th:value="${kurs.kurs_id}"
                                            th:text="${kurs.kurs_name}"></option>
                                </datalist>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="submit" onclick="registerStudent()" id="abschickenStudent" class="button">
                                    Jetzt
                                    registrieren
                                </button>
                            </div>
                        </div>


                    </form>

                </div>
            </div>
        </div>
    </form>
</main>
<footer>
    © Vorlesungsplaner
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files
      as needed -->
<script src="js/bootstrap.min.js"></script>
<script th:src="@{/registerStudentScript.js}"></script>
</body>
</html>