<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/vorlesungsplaner">Termin erfolgreich hinzugefügt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/vorlesungsplaner"><span
                            class="sr-only">(current)</span>
                        Vorlesungsplaner
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="vorlesungsplaner/admin">
                        Administrationsbereich
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/vorlesungsplaner/profile">Mein Profil</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <input class="button" type="submit" value="Sign Out"/>
            </form>
        </div>
    </nav>
</header>
<div class="container text-center">
    <div class="modal-body2">
        <div class="form-title text-center">
            <div class="container text-center">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    Der Termin wurde erfolgreich hinzugefügt.
                </ul>
                <form th:action="@{/}" method="get">
                    <input class="button" type="submit" value="Zurück zur Startseite"/>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>