<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Termin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css' rel='stylesheet'/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">
    <script th:src="@{/termin.js}"></script>
</head>
<body onload="loadHoursModify()">
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/vorlesungsplaner">
            <img th:src="@{/images/DHPlannerKlein.PNG}" width="100" height="70" class="d-inline-block align-top" alt="DH-Planner Logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/vorlesungsplaner" id="current">
                        Vorlesungsplaner
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/vorlesungsplaner/admin}">
                        Administrationsbereich
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/vorlesungsplaner/profile}">Mein Profil</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/logout}" method="post">
                <input class="button" type="submit" value="Sign Out"/>
            </form>
        </div>
    </nav>
</header>
<main id="main__home">
    <section id="first__section">
        <div class="form-title text-center" id="adminDesign">
            <h4>Termin modifizieren</h4>
        </div>
        <form name="f" th:action="@{/vorlesungsplaner/process_modifyTermin}" th:object="${termin}"
              onsubmit="return validateForm()"
              method="post" style="max-width: 600px; margin: 0 auto;">
            <table>
                <tbody>
                <tr>
                    <div th:if="${errorMessage != null}"
                         th:utext="${errorMessage}" class="error">
                    </div>
                    <td><label class="label">Vorlesung: </label></td>
                    <td><select required>
                        <option id="lecture" th:field="*{ter_vvn_id}" th:value="${termin.ter_vvn_id}"
                                th:text="${vorlesung}"></option>
                    </select>
                    </td>
                </tr>
                <tr>
                    <td><p>Anzahl verbleibender Vorlesungsstunden: </p></td>
                    <td><p id="hours"></p></td>
                </tr>

                <td><label for="start">Datum:</label></td>

                <td><input type="date" th:field="*{ter_datum}" onload="getDate()" id="date" name="trip-start"
                           th:min="${kurs.kurs_start}" th:max="${kurs.kurs_ende}" required></td>

                </tr>
                <tr>
                    <td><label for="end">Startzeit:</label></td>

                    <td><input type="time" id="start" th:field="*{ter_start}" name="trip-end" required></td>
                </tr>
                <tr>
                    <td><label for="end">Endzeit:</label></td>

                    <td><input type="time" th:field="*{ter_ende}" id="end" name="trip-end" required></td>
                </tr>
                <input id="ter_id" th:field="*{ter_id}" type="hidden">
                <input th:field="*{ter_kurs_id}" type="hidden">
                <input th:field="*{ter_vvn_id}" type="hidden">
                <tr>
                    <td>
                        <button type="button" class="button" onclick="deleteTermin()">Termin löschen</button>
                    </td>
                    <td>
                        <button type="submit" class="button">Änderungen speichern</button>
                    </td>
                </tr>
                </tbody>

            </table>
        </form>
    </section>
    </main>
    <footer>
        © Vorlesungsplaner
    </footer>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.js'></script>
</body>
</html>