<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Termin</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/style.css">
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
    <link rel="shortcut icon" type="image/jpg" href="/images/DHBWLogo.jpg">

</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img th:src="@{/images/DHPlannerKlein.PNG}" alt="DHBW Planner" width="140" height="100">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="homepage.html" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vorlesungsplaner
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/vorlesungsplaner">Neuen Vorlesungstermin planen</a>
                            <a class="dropdown-item" href="/vorlesungsplaner">Bestehende Vorlesungstermine
                                modifizieren</a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/profile}">Mein Profil <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <form  th:action="@{/logout}" method="post">
                            <input class="button" type="submit" value="Sign Out" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main>
    <form name="f" th:action="@{/process_termin}" th:object="${termin}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <table>
            <tbody>
            <tr>
                <td><label class="label" th:object="${vorlesungen}">Kurs: </label></td>
                <td> <select id="kurs">
                    <option value="0">select operator</option>
                    <option th:each="vvns: ${vorlesungen}" th:value="${vvns.vvn_id}" th:text="${vvns.vvn_id}"></option>
                </select>
                </td>
            </tr>
            <tr>
                <td><label class="label">Vorlesung: </label></td>
                <td> <select id="vorlesung123">
                    <option th:text="'Vorlesung A'"></option>
                    <option th:text="'Vorlesung B'"></option>
                </select>
                </td>
            </tr>
            <tr>
                <td><label for="start">Start date:</label></td>

                <td><input type="datetime-local" id="start" name="trip-start"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31"></td>

            </tr>
            <tr>
                <td><label for="end">End date:</label></td>

                <td><input type="datetime-local" id="end" name="trip-end"
                           value="2018-07-22"
                           min="2018-01-01" max="2018-12-31"></td>

            </tr>
            <tr>
               <td> <p>Verbleibende Stunden: </p></td>
            </tr>
            <tr>
                <td><button type="submit" class="button">Jetzt registrieren</button></td>
            </tr>

            </tbody>

        </table>
    </form>
</main>
<footer>
    © Vorlesungsplaner
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files
      as needed -->
<script src="js/bootstrap.min.js"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.js'></script>

</body>
</html>